
Switching Function - Reduced CMV PWM/Simulink/slprj/

DPT/DPT_Test_Stand_HB.log

DPT/DPT_Test_Stand_HB.op.raw

DPT/DPT_Test_Stand_HB.raw

DPT/Matlab Calculation/circle_shift.asv

DPT/Matlab Calculation/median_filter.asv

DPT/Matlab Calculation/Switching_energy_calculation.asv

DPT/Matlab Calculation/VoltageCurrentGraphs.asv

*.asv

Modulation/slprj/

Switching Function - Reduced CMV PWM/dvdtReduction/slprj/

Switching Function - Reduced CMV PWM/Simulink/Six-phase/slprj/

Switching Function - Reduced CMV PWM/Simulink/three-phase/slprj/

Simulink/slprj/

Switching Function - Reduced CMV PWM/Access-paper/slprj/


DC-Bus Current Modelling/Ansys/Busbarfinal.aedb/

DC-Bus Current Modelling/Ansys/Busbarfinal.aedtresults

DC-Bus Current Modelling/Ansys/ImpedanceModel.aedtresults
*.log
*.raw
*.raw
*.mat
*.zip
*.fft
*.asy
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/slprj
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/exciteDC_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/OnePoint_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/slprj
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/v2/slprj
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/version-1/SPWMv2_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/v2/OnePoint_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/v2/OnePointwithout_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/version-1/slprj
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/version-1/MultiplePointsWithout_build
/Back2BackInverter/Maxwell/HelixCoil.aedtresults/Maxwell3DDesign1.results
/Back2BackInverter/Maxwell/HelixCoil.aedtresults
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/slprj
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/slprj
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/version-1/MultiplePoints_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/slprj
Switching Function - Reduced CMV PWM/Access-paper/Imperix/raw_data/SDS00005.csv
Switching Function - Reduced CMV PWM/Access-paper/Imperix/raw_data/SDS00004.csv
Switching Function - Reduced CMV PWM/Access-paper/Imperix/raw_data/SDS00006.csv
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/v3/Motor_MultiplePoints_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/v3/MultiplePoints_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/v3/MultiplePointsWithout_build
/Switching Function - Reduced CMV PWM/Access-paper/Imperix/versiyon-DC/v3/slprj
